<a href="https://colab.research.google.com/github/ANKIT3046/datascience_mlproject/blob/supervised_ml/credit_Card_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('Test 1.csv')

In [0]:
df.head()

   customer_id demographic_slice  ... axio_score card_offer
0       713782           AX03efs  ...   0.137289      False
1       515901           AX03efs  ...   0.052264      False
2        95166           AX03efs  ...   0.452035      False
3       425557           AX03efs  ...   0.564619      False
4       624581           AX03efs  ...   0.917304      False

[5 rows x 12 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
customer_id          10000 non-null int64
demographic_slice    10000 non-null object
country_reg          10000 non-null object
ad_exp               10000 non-null object
est_income           10000 non-null float64
hold_bal             10000 non-null float64
pref_cust_prob       10000 non-null float64
imp_cscore           10000 non-null int64
RiskScore            10000 non-null float64
imp_crediteval       10000 non-null float64
axio_score           10000 non-null float64
card_offer           10000 non-null bool
dtypes: bool(1), float64(6), int64(2), object(3)
memory usage: 869.2+ KB

In [0]:
df.describe()

         customer_id     est_income  ...  imp_crediteval    axio_score
count   10000.000000   10000.000000  ...    10000.000000  10000.000000
mean   496819.831400   65853.355259  ...       25.692162      0.393211
std    287391.314157   31093.369592  ...        1.889274      0.288243
min       244.000000       2.054543  ...       21.363123     -0.000052
25%    245172.500000   39165.786086  ...       24.295435      0.139424
50%    495734.000000   76903.628763  ...       25.611903      0.337841
75%    745475.250000   91032.514900  ...       27.062519      0.624886
max    999870.000000  150538.809704  ...       30.131214      1.000000

[8 rows x 8 columns]

In [0]:
x=df.iloc[:,4:]

In [0]:
x

         est_income   hold_bal  ...  axio_score  card_offer
0      33407.901749   3.000000  ...    0.137289       False
1      19927.533533  20.257927  ...    0.052264       False
2      51222.470997   4.000000  ...    0.452035       False
3      67211.587467  18.653631  ...    0.564619       False
4      20093.342158   4.000000  ...    0.917304       False
5      73896.096129  12.906641  ...    0.198511        True
6      73609.404135   3.000000  ...    0.179141       False
7      57619.668582   9.000000  ...    0.035338       False
8      49282.620299   0.000000  ...    0.054130       False
9      57173.061392   6.000000  ...    0.648325       False
10      1216.414376  31.298468  ...    0.036855       False
11     60261.177983   9.000000  ...    0.265681       False
12     27898.799423  24.905444  ...    0.485769       False
13     72547.142358   2.000000  ...    0.195541        True
14     59967.222198  20.420941  ...    0.166274        True
15     76087.373180  23.117042  ...    0.356369       False
16     37578.924327   0.000000  ...    0.095863       False
17     51635.884160  14.823892  ...    0.697234       False
18     52403.172400  21.241172  ...    0.266037       False
19     59828.494850  12.512614  ...    0.603995       False
20     49041.784857  19.968726  ...    0.589410       False
21     27192.590487   2.000000  ...    0.222214       False
22       686.671107  26.359368  ...    0.377972       False
23     25136.733223  15.647589  ...    0.011082       False
24     25689.870566  23.824669  ...    0.670423       False
25     18971.079880  12.439547  ...    0.449148       False
26     23650.339785  16.425283  ...    0.111252       False
27     21090.811814  25.761634  ...    0.032765       False
28     52850.844603   3.000000  ...    0.287734       False
29     68383.430086  17.248453  ...    0.121610       False
...             ...        ...  ...         ...         ...
9970   81157.695501  52.507755  ...    0.348946       False
9971  105195.629555   8.063897  ...    0.139331        True
9972   90851.478242   3.489716  ...    0.953946       False
9973   82982.879652   7.515535  ...    0.623012        True
9974   94894.135941  48.172168  ...    0.304972       False
9975   91734.390244   4.744908  ...    0.402929       False
9976   91600.548684   4.788151  ...    0.006507       False
9977   93929.742437   9.319015  ...    0.362386        True
9978   76124.001962   5.981027  ...    0.875726       False
9979  100920.817298  58.408176  ...    0.138613       False
9980   80305.932413   9.478119  ...    0.820176        True
9981  112116.481755   2.930996  ...    0.446321       False
9982   88572.634801  56.414848  ...    0.039483       False
9983   83481.650131  34.662845  ...    0.408835       False
9984   87057.488636   5.596464  ...    0.023347       False
9985   95895.124196  50.838859  ...    0.070274       False
9986   88412.358413  21.292231  ...    0.069342       False
9987  104137.552343  34.108244  ...    0.000092        True
9988   66621.107615   1.985167  ...    0.343362       False
9989   83919.511738   8.856743  ...    0.517455       False
9990   79112.898407  64.196983  ...    0.285532       False
9991   88049.202017  48.266014  ...    0.370026       False
9992   88672.788122  33.875014  ...    0.465418       False
9993   93959.360719   4.934012  ...    0.074517       False
9994  111441.754140   5.692845  ...    0.141778       False
9995   72212.336133   9.592934  ...    0.337363       False
9996   90497.218026  59.521970  ...    0.030833       False
9997   79895.772666  44.698361  ...    0.399311        True
9998   90628.734407  45.757132  ...    0.591272       False
9999   85069.799184  52.880255  ...    0.318503       False

[10000 rows x 8 columns]

In [0]:
# now take only values of given data
x=df.iloc[:,4:].values
x

array([[33407.9017494479, 3.0, 0.531112279582307, ..., 23.9778269846522,
        0.137288792023524, False],
       [19927.5335325969, 20.257926798639698, 0.297438730118974, ...,
        22.9863977296961, 0.0522636193746206, False],
       [51222.4709966965, 4.0, 0.0184630751771727, ..., 24.9392188121553,
        0.45203457601049396, False],
       ...,
       [79895.7726659325, 44.6983611228735, 0.441160567931599, ...,
        27.3978512075035, 0.399311164207229, True],
       [90628.73440669029, 45.7571318790147, 0.146398107142468, ...,
        24.670500175609103, 0.591272211680188, False],
       [85069.7991836868, 52.8802552363374, 0.236453996001977, ...,
        27.045361704691402, 0.318503198647767, False]], dtype=object)

In [0]:
# as per rule we have to remove null value if any in the data by any standerd value 
# here i am replacing nan with value of perticuler column
from sklearn.preprocessing import Imputer

In [0]:
imp=Imputer(missing_values='NaN',axis=0,strategy='mean')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
impute=imp.fit(x[:,4:])

In [0]:
x[:,4:]=impute.transform(x[:,4:])

In [0]:
x

array([[33407.9017494479, 3.0, 0.531112279582307, ..., 23.9778269846522,
        0.137288792023524, 0.0],
       [19927.5335325969, 20.257926798639698, 0.297438730118974, ...,
        22.9863977296961, 0.0522636193746206, 0.0],
       [51222.4709966965, 4.0, 0.0184630751771727, ..., 24.9392188121553,
        0.45203457601049396, 0.0],
       ...,
       [79895.7726659325, 44.6983611228735, 0.441160567931599, ...,
        27.3978512075035, 0.399311164207229, 1.0],
       [90628.73440669029, 45.7571318790147, 0.146398107142468, ...,
        24.670500175609103, 0.591272211680188, 0.0],
       [85069.7991836868, 52.8802552363374, 0.236453996001977, ...,
        27.045361704691402, 0.318503198647767, 0.0]], dtype=object)

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
p=LabelEncoder()

In [0]:
x[:,7]=p.fit_transform(x[:,7])

In [0]:
x

array([[33407.9017494479, 3.0, 0.531112279582307, ..., 23.9778269846522,
        0.137288792023524, 0],
       [19927.5335325969, 20.257926798639698, 0.297438730118974, ...,
        22.9863977296961, 0.0522636193746206, 0],
       [51222.4709966965, 4.0, 0.0184630751771727, ..., 24.9392188121553,
        0.45203457601049396, 0],
       ...,
       [79895.7726659325, 44.6983611228735, 0.441160567931599, ...,
        27.3978512075035, 0.399311164207229, 1],
       [90628.73440669029, 45.7571318790147, 0.146398107142468, ...,
        24.670500175609103, 0.591272211680188, 0],
       [85069.7991836868, 52.8802552363374, 0.236453996001977, ...,
        27.045361704691402, 0.318503198647767, 0]], dtype=object)

In [0]:
features=x[:,0:7]

In [0]:
features

array([[33407.9017494479, 3.0, 0.531112279582307, ..., 503.249027297784,
        23.9778269846522, 0.137288792023524],
       [19927.5335325969, 20.257926798639698, 0.297438730118974, ...,
        820.1081464055161, 22.9863977296961, 0.0522636193746206],
       [51222.4709966965, 4.0, 0.0184630751771727, ...,
        586.6057945131221, 24.9392188121553, 0.45203457601049396],
       ...,
       [79895.7726659325, 44.6983611228735, 0.441160567931599, ...,
        703.556658640237, 27.3978512075035, 0.399311164207229],
       [90628.73440669029, 45.7571318790147, 0.146398107142468, ...,
        744.723237441309, 24.670500175609103, 0.591272211680188],
       [85069.7991836868, 52.8802552363374, 0.236453996001977, ...,
        514.474907943461, 27.045361704691402, 0.318503198647767]],
      dtype=object)

In [0]:
label=x[0:,7]

In [0]:
label

array([0, 0, 0, ..., 1, 0, 0], dtype=object)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X,x,Y,y=train_test_split(features,label,test_size=0.25)

In [0]:
# now applying feature scaling
from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
# applying scling in training data only
X=sc.fit_transform(X)

In [0]:
# testing data scaling
x=sc.transform(x)

In [0]:
Y=Y.astype('int')
y=y.astype('int')

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [0]:
rclf=RandomForestClassifier(n_estimators=20 )

In [0]:
train=rclf.fit(X,Y)

In [0]:
pred=train.predict(x)

In [0]:
pred

array([0, 0, 1, ..., 0, 1, 1])

In [0]:
accuracy_score(y,pred)

0.9764

In [0]:
# test with your data
train.predict(sc.transform([[79895.772666, 44.698361, 0.441161, 806, 703.556659,27.397851,0.399311]]))

array([1])

In [0]:
	# you can try with different ml algorithem like decissiontree, K-nn, and many more
  
  #thnaks

## happy coding